<%- include('./partials/head') %>


<main>
  <div class="card-front"> 
    <div class="big-text">
      <img src="../images/Hadil.jpg" alt="Hadil">
      <h1><%= data.name %></h1>
    </div>
    
    <p><%= data.surname %></p>
    </div>

  <div class="card-back"> 
    <div class="big-text">
      <div class="more-info">

      </div>
      <h2><%= data.bio %></h2>
    </div>
  </div>
</main>


<%- include('./partials/foot') %>
