<%- include('./partials/head') %>

<video autoplay loop muted playsinline>
  <source src="../assets/istockphoto-1404635524-640_adpp_is.mp4" type="video/mp4">
</video>

<main>
  <div class="card-front"> 
    <div class="big-text">
      <img src="../images/Untitled design (1).png" alt="Hadil">
      <h1><%= data.name %></h1>
    </div>
    
    <p><%= data.surname %></p>
    </div>

  <div class="card-back"> 
    <div class="big-text">
      <div class="more-info">

      </div>
      <h2><%= data.bio %></h2>
    </div>
  </div>
</main>


<%- include('./partials/foot') %>
